@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Movie</h2>

@using (Html.BeginForm("Save", "ListaPeliculas"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.movie.Name)
        @Html.TextBoxFor(x => x.movie.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.movie.ReleaseDate)
        @Html.TextBoxFor(x => x.movie.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.movie.GenreTypeId)
        @Html.DropDownListFor(x => x.movie.GenreTypeId,new SelectList(Model.GenreTypes,"Id","Name"),"Select Genre Type" ,new { @class = "form-control" })
    </div>


    <div class="form-group">
        @Html.LabelFor(x => x.movie.NumberStock)
        @Html.TextBoxFor(x => x.movie.NumberStock, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(x => x.movie.Id);

   
    <button type="submit" class="btn btn-primary">Save</button>
}