@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Movie</h2>

@using (Html.BeginForm("Save", "ListaPeliculas"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x =>x.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.ReleaseDate)
        @Html.TextBoxFor(x => x.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ReleaseDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.GenreTypeId)
        @Html.DropDownListFor(x => x.GenreTypeId, new SelectList(Model.GenreTypes, "Id", "Name"), "Select Genre Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.GenreTypeId)
    </div>


    <div class="form-group">
        @Html.LabelFor(x => x.NumberStock)
        @Html.TextBoxFor(x => x.NumberStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.NumberStock)
    </div>

   
    @Html.HiddenFor(x =>x.Id);
    @Html.AntiForgeryToken();

    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
@Scripts.Render("~/bundles/jqueryval")
}